<div class="container">

    <img src="assets/img/burger.ico">
    <h1>Eat-Da-Burger!</h1>

    <div class="row">

        <div class="col-sm-6">


            <h2>Burgers Ready to Eat!</h2>


            {{#each burgers}}
                {{#unless this.devoured}}
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-10">
                                {{this.id}}. {{this.name}}
                            </div>
                            <div class="col-sm-2">
                                <form action="/{{this.id}}?_method=PUT" method="POST">
                                    <input type="hidden" name="devoured" value="true">
                                    <button class="btn btn-warning btn-xs" type="submit">EAT ME!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}

        </div>
        <div class="col-sm-6">
            <h2>Devoured Burgers!</h2>


            {{#each burgers}}
                {{#if this.devoured}}
                    <div class="well devoured">
                        {{this.id}}. {{this.name}}

                        <form action="/{{this.id}}?_method=PUT" method="POST">
                            <input type="hidden" name="devoured" value="false">
                        </form>

                    </div>
                {{/if}}
            {{/each}}

        </div>
    </div>

    <h2>Enter a burger you want to eat then click "Submit"</h2>

    <form class="create-update-form" id="add" action="/" method="POST">
        <textarea name="name"></textarea>
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>

</div>



