

<div class="container-fluid">


    <!--header-->
    <div class="well">
        <div class="row">
            <img id="logo" src="assets/images/Illegal_Formation_logo_01.png" alt="">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
                <ul class="dropdown-menu  dropdown-menu-right" role="menu">
                    <li><a id="signOut" href="/sign-out">Sign Out</a></li>
                    <li><a id="settings" href="register.html">Update User Settings</a></li>
                    <li class="divider"></li>
                    <li><a id="addLeague" href="#">Add Another League</a></li>
                    <li class="divider"></li>
                    <li><a class="leagueName" href="#">league name</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/header-->

    <!--players div's-->
    <div class="row">


        <!--next best players-->
        <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-4 col-md-push-4">
            <div class="panel panel-default">
                <div class="panel-heading">NEXT BEST AVAILABLE</div>

                <!--top player bio-->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-5" id="img">


                        </div>
                        <div class="col-xs-7">

                            <div id="btns"></div>
                            <p id="name">

                            </p>

                            <p id="age">

                            

                            </p>

                            <p id="gamesPlayed">

                            </p>
                            <p id="gamesStarted">

                            </p>
                                <p id="fantasyPoints">

                                </p>

                        </div>
                    </div>
                </div>
                <!--/top player bio-->
            </div>
        </div>
        <!--/next best players-->

        <!--players by position-->
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-4 col-md-pull-4">
            <div class="panel panel-default pre-scrollable">
                <div class="panel-heading">QUARTERBACKS</div>
                <div class="pre-scrollable">
                    <table class="table table-hover table-responsive">
                        <tbody>
                        {{#each player}}

                    {{#if this.qb}}
                            <tr data-key= "{{this.id}}" data-status="active">
                                <td><a href="#/" class="btn btn-warning btn-xs" data-key= "{{this.id}}" data-status="active">&#x2716</a> | <a href="#/" class="btn btn-success btn-xs" data-key= "{{this.id}}" data-status="active">&#x2713</a>
                                </td>
                                <td><a href="#/" class="btn btn-link btn-xs" data-toggle="modal" data-target=".modal" data-key= "{{this.id}}" data-status="active">{{this.name}}</a></td>
                                <td>{{this.fantasyPoints}}</td>
                            </tr>
                            {{/if}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="panel panel-default pre-scrollable">
                <div class="panel-heading">WIDE RECEIVERS</div>
                <div class="pre-scrollable">
                    <table class="table table-hover table-responsive">
                        <tbody>
                        <tbody>
                    {{#each player}}
                    {{#if this.wr}}
                        <tr data-key= "{{this.id}}" data-status="active">
                            <td><a href="#/" class="btn btn-warning btn-xs" data-key= "{{this.id}}" data-status="active">&#x2716</a> | <a href="#/" class="btn btn-success btn-xs" data-key= "{{this.id}}" data-status="active">&#x2713</a>
                            </td>
                            <td><a href="#/" class="btn btn-link btn-xs" data-toggle="modal" data-target=".modal" data-key= "{{this.id}}" data-status="active">{{this.name}}</a></td>
                            <td>{{this.fantasyPoints}}</td>
                        </tr>
                        {{/if}}
                    {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default pre-scrollable">
                <div class="panel-heading">RUNNING BACKS</div>
                <div class="pre-scrollable">
                    <table class="table table-hover table-responsive">
                        <tbody>
                        {{#each player}}
                    {{#if this.rb}}
                        <tr data-key= "{{this.id}}" data-status="active">
                            <td><a href="#/" class="btn btn-warning btn-xs" data-key= "{{this.id}}" data-status="active">&#x2716</a> | <a href="#/" class="btn btn-success btn-xs" data-key= "{{this.id}}" data-status="active">&#x2713</a>
                            </td>
                            <td><a href="#/" class="btn btn-link btn-xs" data-toggle="modal" data-target=".modal" data-key= "{{this.id}}" data-status="active">{{this.name}}</a></td>
                            <td>{{this.fantasyPoints}}</td>
                        </tr>
                            {{/if}}
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default pre-scrollable">
                <div class="panel-heading">TIGHT ENDS</div>
                <div class="pre-scrollable">
                    <table class="table table-hover table-responsive">
                        <tbody>
                    {{#each player}}
                    {{#if this.te}}
                        <tr data-key= "{{this.id}}" data-status="active">
                            <td><a href="#/" class="btn btn-warning btn-xs" data-key= "{{this.id}}" data-status="active">&#x2716</a> | <a href="#/" class="btn btn-success btn-xs" data-key= "{{this.id}}" data-status="active">&#x2713</a>
                            </td>
                            <td><a href="#/" class="btn btn-link btn-xs" data-toggle="modal" data-target=".modal" data-key= "{{this.id}}" data-status="active">{{this.name}}</a></td>
                            <td>{{this.fantasyPoints}}</td>
                        </tr>
                            {{/if}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default pre-scrollable">
                <div class="panel-heading">KICKERS</div>
                <div class="pre-scrollable">
                    <table class="table table-hover table-responsive">
                        <tbody>
                        {{#each player}}
                    {{#if this.k}}
                        <tr data-key= "{{this.id}}" data-status="active">
                            <td><a href="#/" class="btn btn-warning btn-xs" data-key= "{{this.id}}" data-status="active">&#x2716</a> | <a href="#/" class="btn btn-success btn-xs" data-key= "{{this.id}}" data-status="active">&#x2713</a>
                            </td>
                            <td><a href="#/" class="btn btn-link btn-xs" data-toggle="modal" data-target=".modal" data-key= "{{this.id}}" data-status="active">{{this.name}}</a></td>
                            <td>{{this.fantasyPoints}}</td>
                        </tr>
                            {{/if}}
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/players by position-->


        <!--user's team-->
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">TEAM ROSTER</div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive" id ="team-roster">
                        <tbody>
                        <tr>
                            <td class="td_headshot"><img class="headshot_small" src="assets/images/blankHeadshot.png" alt="">
                            </td>
                            <td>Position</td>
                            <td>Player Name</td>
                            <td>Fantasy Points</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <!--/user's team-->
    </div>
    <!--/players div's-->


    <!--player modal-->
    <div class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <p>
                            <span id ="mode_position">QB &nbsp;&nbsp;</span>
                            <strong class="player-name" id ="mode_name">{{player.name}}</strong>
                        </p>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-4" id="mode_img">


                        </div>
                        <div class="col-xs-6 col-md-8">
                            <p id="mode_age">


                            </p>
                            <p id="mode_gamesPlayed">

                            </p>
                            <p id="mode_gamesStarted">

                            </p>
                            <p id="mode_receptions">

                            </p>
                            <p id="mode_longestReception">

                            </p>
                            <p id="mode_longestRunningAttempt">

                            </p>
                            <p id="mode_yardsSacked">


                            </p>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#/" class="btn btn-warning btn-xs" data-dismiss="modal" data-key= "{{this.id}}" data-status="active">&#x2716</a> | <a href="#/" class="btn btn-success btn-xs" data-dismiss="modal" data-key= "{{this.id}}" data-status="active">&#x2713</a>
                </div>
            </div>
        </div>
    </div>
    <!--/player modal-->

</div>



